<!-- Botón de cerrar sesión  
<button (click)="logout()" class="logout-button">Cerrar sesión</button>

<div class="container">
    Componente de libros 
  <app-books></app-books>

    Parte central: Formulario para añadir o editar anotaciones --> 
 <!-- Botón de cerrar sesión
<button (click)="logout()" class="logout-button">Cerrar sesión</button> --> 

<div class="container">
  <div class="books-column">
    <app-books (annotationSelected)="onAnnotationSelected($event)" (bookSelected)="onBookSelected($event)" #booksComp></app-books>
  </div>
  <div class="annotations-column">
    <app-annotations [bookId]="selectedBookId" [selectedAnnotation]="selectedAnnotation" (annotationAdded)="onAnnotationAdded()"></app-annotations>
  </div>
</div>
<button (click)="logout()" class="logout-button">Cerrar sesión</button>